@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

$primary-200: #6504b5;
$black-200: #121212;
$white-200: #efeef1;
$Alegreya: "Alegreya", serif;

@import "vendor/all";
@import "components/all";
